body *,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #666666;
  /* center it */
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #ffffff;
  /* this is to make sure that name and nav items are aligned with body of text */
  margin: auto;
  max-width: 960px;
}

h1 {
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 2rem;
}

.brand {
  background-color: #4aaaa5;
  width: 100%;
}

.brand h1 {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
}

nav ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
}

.nav li {
  display: inline-block;
  min-width: 5rem;
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0;
}

.nav li:nth-child(2) {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  color: #4aaaa5;
  border-bottom: 2px solid #dddddd;
}

img.corner-left {
  float: left;
  margin-right: 1rem;
}

.mainContainer {
  /* generated SVG pattern for background using http://www.heropatterns.com/ */
  background-color: #efefef;

  border-top: 1px solid #cccccc;
  /* add some padding to make sure there is a gap between content and footer */
  padding: 1rem;
  /* make the footer stick to the bottom of the page even if content is too small */
  /* 
    100px header height
    1px header border
    40px main top padding
    80px main bottom padding
    8px footer top border
    40px footer height
    = 269px
    */
  min-height: calc(100vh - 269px);
}

main {
  max-width: 960px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 20px 20px;
  border: 1px solid #dddddd;
  line-height: 1.5rem;
  clear: both;
  background-color: #ffffff;
}

footer {
  /* make sure the footer is at the bottom by clearing any floats */
  text-align: center;
  background-color: #666666;
  color: #ffffff;
  border-top: 8px solid #4aaaa5;
  line-height: 40px;
  font-size: 9pt;
}

form {
  padding: 20px 0 40px 0;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  padding: 0 0 0 0;
  line-height: 20px;
  box-sizing: border-box;
}

input,
textarea {
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}
input[type="submit"] {
  width: initial;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #4aaaa5;
  color: #ffffff;
  border: none;
}

input[type="submit"]:hover {
  background-color: #4aaaa5ee;
}

.img-widget {
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin: 20px 20px 0 0;
}

/* using a few different placeholder images with different sizes */
#project1,
#project2,
#project3,
#project4,
#project5 {
  background-image: url(https://picsum.photos/id/237/300/200?grayscale);
  height: 200px;
  width: 300px;
}

.img-widget .label a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 150px 0 0;
  background-color: #4aaaa5;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  nav {
    float: right;
  }

  .vert-spacer-1 {
    display: none;
  }
}
